.task--inner{
  font-family: $main-font;
  color: $dark-font;
  font-size: 20px;
  width: 100vw;
  overflow: auto;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
  display: flex;
  align-items: baseline;
}