.task{
  background-color: var(--second-color);
  padding: 10px;
  margin: 10px;
  display: flex;
  justify-content: space-between;
  border-radius: 7px;
  &--wrapper{
    margin-top: 30px;
    width: 100vw;
    padding: 0;
    overflow-y: auto;
    height: calc(100vh - 40px - 2*26.8px - 230px);
    box-sizing: border-box;

  }
}

//.task__tags{
//  list-style: none;
//  display: flex;
//  padding: 0;
//  transform: scale(0.6);
//}
@import './status';
@import './heading';
@import './tags';